* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: black;
    height: 500px;
    width: 50%;
    border-radius: 20px;
    border: 5px solid rgb(249, 0, 236);
    box-shadow: 0px 0px 15px purple;
}

div#searchUser h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 2em;
}

div#searchUser form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 15px;
}

div#searchUser form input {
    height: 60px;
    width: 60%;
    border-radius: 5px;
    border: 2px solid purple;
    padding-left: 10px;
    font-size: 1em;
}

div#searchUser form button {
    height: 60px;
    width: 60%;
    border-radius: 5px;
    border: 2px solid purple;
    padding-left: 10px;
    font-size: 1em;
}

div#userList {
    height: 500px;
    width: 50%;
}

.hide {
    display: none;
}