* {
    margin: 0px;
    padding: 0px;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    height: 100px;
    width: 200px;
    font-size: 1.3rem;
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div#customers {
    color: black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}