* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

main {
    background-color: black;
    height: 500px;
    width: 40%;
    border-radius: 20px;
    border: 5px solid rgb(249, 0, 236);
    box-shadow: 0px 0px 30px purple;
}

div#searchUser h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 2em;
}

div#searchUser form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 15px;
}

div#searchUser form input {
    height: 60px;
    width: 60%;
    border-radius: 5px;
    border: 2px solid purple;
    padding-left: 10px;
    font-size: 1em;
}

div#searchUser form button {
    height: 60px;
    width: 60%;
    border-radius: 5px;
    border: 2px solid purple;
    padding-left: 10px;
    font-size: 1em;
}

div#createUser {
    background-color: black;
    height: 500px;
    width: 40%;
    border-radius: 20px;
    border: 5px solid rgb(0, 255, 149);
    box-shadow: 0px 0px 30px green;
}

#createUser h1 {
    padding-top: 50px;
    color: white;
    text-align: center;
    font-size: 2em;
}

#createUser form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 15px;
}

#createUser form input {
    height: 60px;
    width: 60%;
    border-radius: 5px;
    border: 2px solid green;
    padding-left: 10px;
    font-size: 1em;
}

#createUser form button {
    height: 60px;
    width: 60%;
    border-radius: 5px;
    border: 2px solid green;
    padding-left: 10px;
    font-size: 1em;
}

div#userList {
    height: 500px;
    width: 40%;
    border: 5px solid rgb(0, 149, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 30px blue;
    color: white;
}

/*.hide {
     display: none; 
} */

div#userList h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 2em;
}

ul#users {
    list-style-type: none;
    margin-top: 40px;
    padding: 20px;
}

ul#users li {
    font-size: 1em;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#users li:hover {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    transition: ease-in-out 0.3s;
}

ul#users li .delete {
    padding: 0px 6px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    background-color: red;
}

.delete:hover {
    opacity: 0.7;
}